@tailwind base;
@tailwind components;
@tailwind utilities;


  
:root {
	/* --r-main-font: 'Lora';
	--r-heading-font: 'Lora'; */
	/* --r-code-font: 'Lora'; */
	--r-link-color: blue !important;
	--r-link-color-hover: blue !important;
  --r-main-color: blue !important;
}
.hljs-tilte,
.hljs-keyword {
	font-weight: normal;
}
.reveal pre,
.reveal code {
	overflow: hidden !important;
}
.reveal pre {
	box-shadow: none;
}
