@tailwind base;
@tailwind components;
@tailwind utilities;


  
:root {
	--r-main-font: 'Google Sans';
	--r-heading-font: 'Google Sans';
	/* --r-code-font: 'Google Sans'; */
	--r-link-color: black !important;
	--r-link-color-hover: black !important;
  --r-main-color: black !important;
  --r-background-color: white !important;
}
.hljs-tilte,
.hljs-keyword {
	font-weight: normal;
}
.reveal pre,
.reveal code {
	overflow: hidden !important;
}
.reveal pre {
	box-shadow: none;
}
