@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: '1FTV Camaro';
  src: local('1FTV Camaro'), url('../public/fonts/1FTV-Camaro.otf') format('truetype');
}
@font-face{
  font-family: 'IBM Plex Serif Regular';
 src: local('IBM Plex Serif Regular'), url('../public/fonts/IBMPlexSerif-Regular.ttf');
}
:root {
	--r-main-font: '1FTV Camaro';
	--r-heading-font: 'IBM Plex Serif Regular';
	/* --r-code-font: 'Google Sans'; */
	--r-link-color: blue !important;
	--r-link-color-hover: blue !important;
  --r-main-color: blue !important;
  /* --r-background-color: white !important; */
}
.hljs-tilte,
.hljs-keyword {
	font-weight: normal;
}
.reveal pre,
.reveal code {
	overflow: hidden !important;
}
.reveal pre {
	box-shadow: none;
}
